// #mapmap {
// 	display: none;
// 	&.oomap {
// 		display: block!important;
// 		position: absolute;
// 		width: 100%;
// 		height: 100%;
// 		top: 0;
// 	}
// }

.screenshot {
	display: none;
}

#page-stories {
	overflow: hidden;

	a.btn-nav:active {
		opacity: 0.8;
	}


	.nav-bar {
		.ui-corner-all {
			padding: 16px;
			margin: 0;
			background: #c0dad4;

			.ui-controlgroup-controls {
				border-radius: 6px;
				background: #5e9d9e;
				
				.ui-btn {
					background: #5e9d9e;
					padding: 0 8px;

					.ui-btn-inner {
						padding: 10px 20px;
						line-height: 10px;
					}

					.ui-btn-text {
						color: #fff;
						line-height: 20px;
						font-size: 20px;
					}

					&.ui-btn-active {
						border-radius: 6px;
						background: #00626a;

						.ui-btn-text {
							color: #eee;
						}
					}
				}
			}
		}

		.ui-input-search {
			background: #fff;
			color: #999;
			border-radius: 24px;
			position: absolute;
			top: 95px;
			right: 16px;
			width: 53%;

			.ui-input-text {
				font-size: 20px;
			}
		}

		.icon-search {
			position: absolute;
			top: 112px;
			font-size: 20px;
			right: 34px;
			color: #bbb;
		}
	}

	.map-container {
		position: absolute;
		width: 100%;
		height: 83%;

		.BMap_bubble_title {
			color: #00626a;
			font-size: 26px;
			line-height: 26px!important;
			width: 75%!important;
		}
		.BMap_bubble_content {
			margin-top: 8px;
			img {
				height: 24px;
				width: 24px;
			}
			span {
				color: #777;
				font-size: 18px;
				position: relative;
				top: -4px;
				margin-right: 8px;
			}

		}
	}
	
	.list-container {
		display: none;

		ul >li {
			background: #fafafa;
			height: 160px;
			margin-top: 16px;

			.ui-icon-arrow-r {
				font-size: 26px;
				color: #ccc;
				&:before {
					content: "\f054";
					font-family: FontAwesome;
					font-weight: normal;
					font-style: normal;
					text-decoration: inherit;
					-webkit-font-smoothing: antialiased;
				}
			}
			
			.ui-link-inherit {
				padding: 0 16px;

				.map-thumb {
					float: left;
					position: relative;
					height: 160px;
					width: 160px;
					max-height: 160px;
					max-width: 160px;
				}

				.story-profile {
					margin-left: 180px;
					h3 {
						color: #00626a;
						font-size: 18px;
						font-weight: normal;
						margin: 30px 0 16px;
						max-width: 90%;
					}
					
					.story-desc {
						img {
							float: left;
							height: 34px;
							width: 34px;
						}

						p { 
							position: relative;
							top: 6px;
							margin: 0 0 0 42px;
							span {
								margin-right: 10px;
								color: #777;
								font-size: 17px;
							}
						}
					}
				}
			}
		}
	}

}

#page-stories-show {
	.gallery {
		margin: 15px 30px -15px;
		.pop-thumb {
			height: 100px;
			width: 100px;
			margin-right: 20px;
			border: 1px solid #ccc;
		}
		.popphoto {
			max-height:512px;
		}
	}

	.story-desc {
		font-size: 20px;
		color: #555;
		line-height: 30px;
		margin: 30px 30px;
	}

	.other-links {
		h4 {
			background: #E5EAEA;
			padding: 12px 24px;
			font-size: 24px;
			font-weight: normal;
		}

		ul {
			list-style-type: none;

			a {
				margin-left: -12px;
				color: #10ABB5;
				font-size: 18px;

				img {
					margin-bottom: -4px;
				}
				span {
					font-size: 20px;
					line-height: 40px;
					margin: 0 6px;
				}
			}
		}
	}

	.disqus {
		margin: 24px auto;
		
		a {
			margin: 0 260px;
			padding: 12px 24px;
			background: #10ABB5;
			border-radius: 6px;
			color: #fff;
			font-size: 18px;

			&:active {
				opacity: 0.8;
			}
		}
	}
}
