<div id="page-by-bounds">
	<div data-role="header">
		<a href="#"><img src="<%= asset_path 'm/btn_dft_avatar.png' %>" class="avatar"></a>
	  <h1><img src="<%= asset_path 'm/app_logo.png' %>" class="button-create"></h1>
	  <a href="#"><img src="<%= asset_path 'm/btn_add.png' %>" class="button-create"></a>
	</div>
	
	<div class="nav-bar">
		<form>
	    <fieldset data-role="controlgroup" data-type="horizontal">
	      <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2a" value="on" checked="checked">
	      <label for="radio-choice-h-2a" class="checked">地图</label>
	      <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2b" value="off">
	      <label for="radio-choice-h-2b">列表</label>
	    </fieldset>
		</form>
		
		<input type="search" name="password" id="search" value="" placeholder="搜索路线">
	</div>
	
	<div id="map-container">
	</div>
</div>