<div id="page-stories-show">
	<div data-role="header">
		<a href="#" class="btn-nav"><i class="icon-angle-left"></i></a>
		<h1><%= @story.title %></h1>
		<a href="#" class="btn-nav"><img src="<%= asset_path 'm/btn_share.png' %>" class="button-share"></a>
	</div>

	<div class="container" id="container">
		<img src="<%= asset_path 'm/app_route_detail_img.jpg' %>" alt="" class="detail-img">
	</div>	
	
</div>