<div class="pg-story-new">
	<div class="bg" data-url="#"></div>
	<div class="center">
		<div class="header">
			<h1 class="logo">
				<%= link_to "Road.路", root_path %>
			</h1>
		</div>
		
		<div class="main">
			<h2 class="page-title">创建新路线</h2>
			<p class="page-desc">请上传或者同步轨迹</p>
			<div class="data-source-select">
				<div class="data-source data-source-upload">
					<a href="#">
						<em>上传 GPS 轨迹</em><br />
						<span>支持 GPX, KML 格式的轨迹</span>
					</a>
				</div>
				<div class="data-source data-source-sync">
					<a href="#">
						<em>从运动跟踪网站同步</em><br />
						<span>从 Runkeeper，咕咚网等同步轨迹</span>
					</a>
				</div>
				<div class="data-source data-source-app">
					<a href="#">
						<em>通过 ROAD.LU App 创建轨迹</em><br />
						<span>扫描二维码下载 iPhone App</span>
					</a>
				</div>
			</div>
			<div class="tips">
				<dl>
					<dt>ROAD.LU 如何工作</dt>
					<dd>Road.lu 集中了世界各处的骑行和徒步路线，这些路线由像您一样的志愿者上传和整理。</dd>
					<dt>如何添加一条路线</dt>
					<dd>你只需要通过上传或者同步 GPS 轨迹，并补充路线的照片或文字信息即可像 ROAD.LU 添加一条路线。</dd>
					<dt>路线可靠吗</dt>
					<dd>在 Road.lu，像 Wikipedia 一样，任何人都可以修改和补充路线信息，所以这里的路线会被经常更新，路线的质量会随着使用者的增加而不断提高。</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
