(function($) {

var pg = '.pg-stories';
var map;

$(function() {
	initMap();

	$(document)
	.on('click', pg + ' .search-results li', function(e) {
		var target = $(e.currentTarget),
			polyline = target.data('polyline');

		map.setViewport(polyline.getBounds());
	})
	.on('ajax:beforeSend', pg + ' .form-search', function(e, result) {
		$('.search-results').html('<li class="loading"></li>');
	})
	.on('ajax:success', pg + ' .form-search', function(e, result) {
		var storiesEl = [];

		map.clearOverlays();

		$.each(result, function(idx, story) {
			var s = $(rd.template('tpl-search-result', story));
			storiesEl.push(s);
			renderPath(story, s);
		});

		$('.search-results').empty().append(storiesEl);
	});
});

function initMap () {
	map = new BMap.Map('map-container', rd.mapBasicOpts);
	map.addEventListener('load', function() {
		fetchStoriesByBounds();
	});
	map.centerAndZoom('成都', 11);

	mapNav = new BMap.NavigationControl({
		anchor: BMAP_ANCHOR_BOTTOM_RIGHT,
		showZoomInfo: false,
		type: BMAP_NAVIGATION_CONTROL_ZOOM
	});
	map.addControl(mapNav);
	map.enableScrollWheelZoom();
}

function fetchStoriesByBounds() {
	var bounds = map.getBounds(),
		data = {
			lat_n: bounds.vc,
			lng_e: bounds.wc,
			lat_s: bounds.yc,
			lng_w: bounds.zc
		}

	$.ajax({
		url: $('#by-bounds-url').val(),
		type: 'get',
		data: data,
		success: function(result) {
			map.clearOverlays();
			$.each(result, function(idx, story) {
				renderPath(story);
			});
		}
	});
}


function renderPath(story, relatedEl) {
	$.ajax({
		url: story.path_nodes_url,
		type: 'get',
		success: function(result) {
			var nodes = result,
				polyline,
				points = [];

			$.each(nodes, function(idx, node) {
				points.push(new BMap.Point(node.baidu_lng, node.baidu_lat));
			});

			polyline = new BMap.Polyline(points, rd.polylineBasicOpts);
			map.addOverlay(polyline);

			if (relatedEl) {
				relatedEl.data('polyline', polyline);
			}

			startMarker = new BMap.Marker(points[0]);
			startMarker.addEventListener('click', function(e, target) {
				var storyInfo = rd.template('tpl-story-info', story);
					infoWin = new BMap.InfoWindow(storyInfo, {
						width: 240,
						height: 140,
						enableMessage: false,
						title: story.title
					});
				this.openInfoWindow(infoWin);
			});
			map.addOverlay(startMarker);
		}
	});
}

})(jQuery);
