.pg-story,
.pg-story-edit {
	.bg-static {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width:100%;
		height:850px;
		background:#555;
	}
	.bg {
		width: 100%;
		height: 850px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: 50%;
		background-position: 50% bottom;
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 1000ms ease-in-out;
		-moz-transition: opacity 1000ms ease-in-out;
		-webkit-transition: opacity 1000ms ease-in-out;
	}

	.center {
		position: relative;
		z-index: 1;
	}

	.header {
		height: 100px;
		@include clearfix
	}

	.logo {
		position: fixed;
		top: 10px;
		right: 10px;
	}

	.story-title {
		color: #fff;
		margin-top: 30px;
		float: left;
		font-size: 32px;
		padding-left: 58px;
		background: image-url("icon-ride.png") 0 center no-repeat;
	}

	.like {
		float: right;
		margin-top: 38px;
		padding:0 10px;
		color:#FA446B;
		background:#fff;
		text-decoration:none;
		@include radius;
		
		em {
			font-size:28px;
			vertical-align:-3px;
			font-family:'DataNum';
		}
		&:hover {
			color:#fff;
			background:#FA446B;
		}
	}

	.map-container {
		height: 495px;
		background:#fff;
//		@include box-shadow-inset;
	}

	.chart {
		background-color: #fff;
		height: 100px;
		margin-bottom: 36px;
		@include border-radius(4px, 4px, 0, 0);
		@include box-shadow(0, -4px, 204px, rgba(0,0,0,0.2));
	}

	.info {
		color: #fff;

		table {
			width: 100%;
			text-align:left;
		}

		thead {
			font-size: 16px;
			font-weight:100;
			
			th {
				font-weight:100;
			}
		}

		tbody {
			font-size: 50px;
			font-family:'DataNum';
		}

		.difficulty {
			text-align: right;
		}

		td.difficulty {
			color: #fff3a6;
		}

		.what {
			font-size: 12px;
			color:#ccc;
			&:hover {
				color:#fff;
			}
		}
	}

	.images {
		margin-top:80px;
		@include clearfix;

		li {
			float: left;
			margin-right: 15px;

			&:last-child {
				margin-right: 0;
			}
		}

		img {
			width: 99px;
			height: 98px;
			display: block;
		}
	}

	.intro {
		margin-top:30px;
		padding-bottom: 40px;
		margin-bottom: 40px;
		border-bottom: 4px dashed #ddd;
		font-size:15px;
		line-height:1.6;
		
		.intro-action{
			margin:30px 0 0;
			@include clearfix;
			
			.edit-btn {
				display:inline-block;
				padding:12px 20px 10px;
				font-size:16px; font-weight:bold;
				background:#2EA9B8;
				color:#fff;
				@include radius;
				
				&:hover {
					background:#4EC9D8;
				}
			}
		}
		
		.copy-cc {
			float:right;
			text-align:right;
			font-size:12px;
			color:#999;
			a { color:#999; }
		}
	}

	.main {
		@include clearfix;
	}

	.comments {
		float: left;
		width: 640px;
	}

	.share {
		float: right;
		width: 230px;

		& > div {
			margin-bottom: 20px;
		}

		h5 {
			background-color: #e5eaea;
			font-size: 16px;
			padding-left: 5px;
			height: 33px;
			line-height: 36px;
			margin-bottom:10px;
			color:#666;
			@include radius();
		}
	}
}

.pg-story-edit {
	.poi-form {
		.icons {
			float: right;
			margin-right: 30px;
			position: relative;

			.selected-icon {
				width: 32px;
				height: 32px;
				border: 1px solid #ccc;
			}

			.icons-list {
				position: absolute;
				width: 160px;
				height: 96px;
				background-color: #fff;
				border: 1px solid #ccc;
				right: 0;
				top: 100%;
				overflow: hidden;
				display: none;

				li {
					float: left;
					width: 32px;
					height: 32px;
					cursor: pointer;

					img {
						width: 32px;
						height: 32px;
						display: block;
					}
				}
			}
		}

		.form-item {
			margin-bottom: 10px;
		}

		input {
			border: 1px solid #ccc;
			@include radius(4px);
			width: 220px;
			height: 24px;
			line-height: 24px;
			padding: 3px;
		}

		textarea {
			padding: 3px;
			width: 220px;
			border: 1px solid #ccc;
			@include radius(4px);
		}

		.form-buttons {
			.btn-del {
				float: right;
				display: none;

				&:hover {
					color: #cc0000;
				}
			}
		}
	}

}
